<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>Service1.jpg</string>
		<key>title</key>
		<string>查校历</string>
		<key>time</key>
		<string>2017/07/25</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Service2.jpg</string>
		<key>title</key>
		<string>校车时间表</string>
		<key>time</key>
		<string>2017/07/25</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Service3.jpg</string>
		<key>title</key>
		<string>校车路线图</string>
		<key>time</key>
		<string>2017/07/25</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Service4.jpg</string>
		<key>title</key>
		<string>常用联系电话</string>
		<key>time</key>
		<string>2017/07/25</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Service5.jpg</string>
		<key>title</key>
		<string>省市区号查询</string>
		<key>time</key>
		<string>2017/07/25</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Service6.jpg</string>
		<key>title</key>
		<string>更多查询</string>
		<key>time</key>
		<string>2017/07/25</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>更多查询</string>
		<key>time</key>
		<string>2017/07/25</string>
	</dict>
</array>
</plist>
