<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>icon_10099632_20861761_1428654371.png</string>
		<key>title</key>
		<string>个人中心</string>
		<key>detailTitle</key>
		<string>http://www.baidu.com</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_3439_21074976_1431416056.png</string>
		<key>title</key>
		<string>个人成长</string>
		<key>detailTitle</key>
		<string>我的成人专题</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_10170898_20814808_1427993440.png</string>
		<key>title</key>
		<string>个人报修</string>
		<key>detailTitle</key>
		<string>我的报修记录</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_10307710_21127749_1432173605.png</string>
		<key>title</key>
		<string>足迹</string>
		<key>detailTitle</key>
		<string>寻找梦走过的地方</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_10453026_21134862_1432261689.png</string>
		<key>title</key>
		<string>后续主题</string>
		<key>detailTitle</key>
		<string>暂缺</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_10451659_21094805_1431656995.png</string>
		<key>title</key>
		<string>后期主题</string>
		<key>detailTitle</key>
		<string>暂缺</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_3260_21178168_1432887385.png</string>
		<key>title</key>
		<string>后期主题</string>
		<key>detailTitle</key>
		<string>暂缺</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_1115588_21117732_1432027017.png</string>
		<key>title</key>
		<string>后期主题</string>
		<key>detailTitle</key>
		<string>暂缺</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_10478905_20814899_1427993807.png</string>
		<key>title</key>
		<string>后期主题</string>
		<key>detailTitle</key>
		<string>暂缺</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_11285571_21179961_1432896869.png</string>
		<key>title</key>
		<string>后期主题</string>
		<key>detailTitle</key>
		<string>暂缺</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_10197302_21168699_1432783122.png</string>
		<key>title</key>
		<string>后期主题</string>
		<key>detailTitle</key>
		<string>暂缺</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_10474521_21023282_1430733306.png</string>
		<key>title</key>
		<string>后期主题</string>
		<key>detailTitle</key>
		<string>暂缺</string>
	</dict>
</array>
</plist>
