<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>icon_3439_21074976_1431416056.png</string>
		<key>title</key>
		<string>我要报修</string>
		<key>detailTitle</key>
		<string>报修</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_10307710_21127749_1432173605.png</string>
		<key>title</key>
		<string>水电信息</string>
		<key>detailTitle</key>
		<string>剩余</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_10453026_21134862_1432261689.png</string>
		<key>title</key>
		<string>调宿舍</string>
		<key>detailTitle</key>
		<string>调换宿舍</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_10451659_21094805_1431656995.png</string>
		<key>title</key>
		<string>其他</string>
		<key>detailTitle</key>
		<string>待定</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_3260_21178168_1432887385.png</string>
		<key>title</key>
		<string>其他</string>
		<key>detailTitle</key>
		<string>待定</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_3260_21178168_1432887385.png</string>
		<key>title</key>
		<string>其他</string>
		<key>detailTitle</key>
		<string>待定</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_1115588_21117732_1432027017.png</string>
		<key>title</key>
		<string>其他</string>
		<key>detailTitle</key>
		<string>待定</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_10453026_21134862_1432261689.png</string>
		<key>title</key>
		<string>其他</string>
		<key>detailTitle</key>
		<string>待定</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_10451659_21094805_1431656995.png</string>
		<key>title</key>
		<string>其他</string>
		<key>detailTitle</key>
		<string>待定</string>
	</dict>
</array>
</plist>
